* {
  box-sizing: border-box;
}

td {
  border: 2px solid black;
  height: 200px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
}

table {
  margin: 0 auto;
}

#result {
  display: none;
}