* {
  box-sizing: border-box;
}

td {
  border: 2px solid black;
  height: 200px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
}

table {
  margin: 0 auto;
}

.cell {
  border-radius: 10px;
}

#interface {
  width: 100px;
  margin: 0 auto;
  text-align: center;
}

#result {
  visibility: hidden;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#button {
  width: 90%;
}